.reader {
    font-family: "Space Mono", serif;
    font-style: normal;
    font-size: var(--font-size, 16px);
    background: var(--background);
    color: var(--text-color);
}

.full-text {
    font-size: 18px;
}

.blue-link {
    color: rgb(139, 92, 246);
    transition: all ease linear;
}

.blue-link:hover {
    text-decoration: underline;
}

.blue-link::after {
    color: slateblue;
}

.styled-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
}

.normal-a {
    color: white;
    pointer-events: none;
}

.styled-cite {
    font-style: italic;
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: white;
}

.styled-list {
    list-style-type: decimal;
    margin-top: 6px;
    margin-left: 14px;
    color: white;
}

.styled-quote {
    margin: 15px 8px;
    padding: 4px 10px;
    border-left: 2px solid white;
    border-radius: 8px;
    background: #000;
}

.styled-para {
    margin: 0.5rem 0;
}

.styled-heading {
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: bold;
}

.styled-heading-three {
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: bold;
}

.styled-code {
    display: block;
    width: 100%;
    margin-top: 4px;
    padding: 10px 5px 0 5px;
    border: 2px solid white;
    border-radius: 6px;
}

figcaption {
    font-style: italic;
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: white;
}

.highlight {
    background-color: rgb(117, 117, 90);
    font-size: 1.2rem;
    padding-left: 5px;
    padding-right: 0;
}

.styled-table {
    width: 100%; 
    border-collapse: collapse; 
    text-align: center;
}

.styled-th,.styled-td {
    border: 1px solid #ddd; 
    padding: 8px;
}

.remove {
    display: none;
}

/* Skeleton Animation */

.skeleton {
    border-radius: 14px;
    animation: skeleton-loading linear 1s infinite alternate;
}

@keyframes skeleton-loading {
    0% { background-color: hsl(260, 50%, 50%); }
    50% { background-color: hsl(270, 100%, 70%); }
    100% { background-color: hsl(280, 50%, 90%); }
}