.article {
    margin: 0.5rem 1rem;
}

.full-text {
    font-size: 18px;
}

.blue-link {
    color: skyblue;
    transition: all ease linear;
}

.blue-link:hover {
    text-decoration: underline;
}

.blue-link::after {
    color: slateblue;
}
div {
    color: white;
}

.styled-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
}

.styled-word {
    font-style: italic;
    font-weight: 800;
}

.styled-cite {
    font-style: italic;
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: white;
}

.styled-list {
    margin-top: 6px;
    margin-left: 14px;
}

.styled-quote {
    margin: 4px 8px;
    padding: 4px 10px;
    border-left: 2px solid white;
    border-radius: 8px;
    background: #000;
}

.styled-para {
    margin: 0.5rem 0;
}

figcaption {
    font-style: italic;
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: white;
}
