@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-weight: var(--font-weight, 400);
  font-family: var(--font-family);
}


/* .logo {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
} */

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.file-icon {
  filter: drop-shadow(0 0 1.5px white);
  /* filter: invert(1) brightness(1.5); */
}

.song-myung-regular {
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px;
}

.changelog {
  background-color: #0d1117;
}

.markdown-body ul {
  list-style: disc;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text-color: white;
  --background: black;
  background-size: 200% 200%;
}

body {
  width: 100%;
  background: var(--background);
  color: var(--text-color);
}

.focused {
  opacity: 0.2;
  pointer-events: none;
}

@layer utilities {
  .song-myung-regular {
    font-family: "Song Myung", serif;
    font-weight: 400;
    font-style: normal;
  }

  .space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

  .space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
  }

  .space-mono-regular-italic {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: italic;
  }

  .space-mono-bold-italic {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: italic;
  }

}