@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* user-select: none; */
  font-family: "Merriweather", serif;
  font-style: normal;
}

body {
  overflow: hidden;
  width: 100%;
  background: linear-gradient(135deg, #292465 0%,
      #110f29 25%,
      #0b091b 50%,
      #05030d 75%,
      #04010a 100%);
}

.focused {
  opacity: 0.2;
}

@layer utilities {
  .space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

  .space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
  }

  .space-mono-regular-italic {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: italic;
  }

  .space-mono-bold-italic {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: italic;
  }

}