@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

body {
  overflow: hidden;
  width: 100%;
  background: linear-gradient(135deg, #292465 0%,
      #110f29 25%,
      #0b091b 50%,
      #05030d 75%,
      #04010a 100%);
}